<div class="diary-header">
  <div class="left-header">
      <%# カレンダーと同期させる %>
    <div class="header-date">
      2020年8月20日
    </div>
    <div class="header-name">
      <%= link_to edit_user_path(current_user) do %>
        <%= current_user.name %>
      <% end %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'logout-button'%>
    </div>
  </div>
</div>

<div class="diaries">
  <%= render partial: 'message', collection: @diaries %>
</div>


<%= form_with model: @diary, html: {class: "form"}, local: true do |f|%>
  <div class="form-input">
    <%= f.text_area :content, class: 'form-message', placeholder: '' %>
  </div>
  <%= f.submit 'write', class: 'form-submit' %>
  <input name="[user_id]" type="hidden" value=<%=current_user.id%>>
<% end %>