<div class="side-bar-header">
<%= form_with(url: search_diaries_path, local: true, method: :get, class: "search-input") do |form| %>
  <%= form.text_field :search, class: 'search-diary',value: params[:search], placeholder: ""%>
  <%= form.submit "search", value: "search", class: "fas" %>
<% end %>
</div>

<hr width="200">

<div class="contents">
  <section class="effect-fade">
    <% @diaries.each do |diary| %>
      <div class="content">
        <div class="content-date">
          <%= diary.date.to_date.strftime("%Y/%m/%d(%a)")%>
        </div>
        <div class="content-name">
          <%= diary.content%>
        </div>
      </div>
    <% end %>
  </section>
</div>