<div class="side-bar-header">
<%= form_with(url: search_diaries_path, local: true, method: :get, class: "search-input") do |form| %>
  <%= form.text_field :content, placeholder: "", class: "search-diary" %>
  <%= form.submit "search", value: "search", class: "fas" %>
<% end %>
</div>

<hr width="200">

<div class="contents">
  <% @diaries.each do |diary| %>
    <div class="content">
      <div class="content-date">
        <%= diary.date%>
      </div>
      <div class="content-name">
        <%= diary.content%>
      </div>
    </div>
  <% end %>
</div>