  <div class="wrapper">

  <div class="side-bar" >
    <div class="side-bar-header">
      <%= form_with(url: search_diaries_path, local: true, method: :get, class: "search-input") do |form| %>
        <%= form.text_field :search, class: 'search-diary',value: params[:search], placeholder: ""%>
        <%= form.submit "search", value: "search", class: "fas" %>
      <% end %>
    </div>

    <hr width="200">

  <div class="contents">
    <section class="effect-fade">
    <% @diaries.each do |diary| %>
      <div class="content">
        <div class="content-date">
          <%= diary.date.to_date.strftime("%Y.%m.%d(%a)")%>
        </div>
        <div class="content-name">
          <%= diary.content%>
        </div>
      </div>
    <% end %>
  </div>
    </section>
  </div>


  <div class="diary" >
    <div class="diary-header">
      <div class="left-header">
        <div class="header-logo">
          <%= link_to 'one line a day', "/" %>
        </div>
        <div class="header-name">
          <%= link_to edit_user_path(current_user) do %>
            <%= current_user.name %>
          <% end %>
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
          <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'logout-button'%>
        </div>
      </div>
    </div>

  <div class="diaries-search">
    <section class="effect-fade">
      <% @diaries.each do |diary| %>
        <div class="message">
          <div class="upper-message">
            <div class="message-date">
              <%= diary.date.to_date.strftime("%Y.%m.%d(%a)")%>
            </div>
            <div class="content-tag">
            <% diary.tags.each do |tag| %>
              <ul class="tag">
                <li class="tag-list">
                  <%=tag.name%>
                </li>
              </ul>
            <% end %>
            </div>
          </div>
          <div class="lower-message">
            <div class="message-content">
              <%= diary.content%>
            </div>
              <%= link_to 'delete', user_diary_path(current_user.id, diary.id), class: 'delete-btn', method: :delete %>
          </div>
        </div>
      <% end %>
    </div>
      <div class="back-btn">
        <%= link_to 'back to main page', "/"%>
      </div>
  </section>
</div>

  </div>